<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AvengersEDU-demo</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="./">Inicio</a> |
            <a href="./aliados.html">Aliados</a> |
            <a href="./miembros.html">Miembros</a> |
            <a href="./misiones.html">Misiones</a> |
            <a href="./villanos.html">Villanos</a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
